{#
  Profile template
  Tab Size: 2 
#}
{% extends "base.twig" %}

{% block page_title %}{{ this_page.title|capitalize }}{% endblock %}
{% block page_description %}{{ this_page.title|capitalize }}{% endblock %}

{% block body %}

	<div class="my-3 my-md-5">
    <div class="container">
      <div class="row">

      	<div class="col-lg-3 order-lg-1 mb-4">
          <div class="sticky-top sticky-offset">

            <div class="card p-4">
              <div class="text-center">
                {% if user.photo %}<a href="/media/images/users/{{ user.photo }}" class="image-link">{% endif %}<span class="avatar avatar-xxl" {% if user.photo %}style="color: transparent; background-image: url(/media/images/users/{{ user.photo }})"{% endif %}>{{ user.username|slice(0, 2)|upper }}</span>{% if user.photo %}</a>{% endif %}
                <a href="/user/{{ user.username }}"><h5 class="mt-4 mb-2">@{{ user.username|capitalize }}</h5></a>
                <span class="d-block alert alert-secondary p-1">
                  <b>{{ user.points }}</b>
                  <small class="d-block" style="font-size: 80%">points</small>
                </span>
              </div>

              <div class="pb-2 border-bottom">
                {% if user.name %}
                  <p class="mt-0 mb-0">{{ user.name }}</p>
                {% endif %}
                {% if user.about %}
                  <p class="mt-0 mb-0"><small class="text-muted">{{ user.about }}</small></p>
                {% endif %}
              </div>

              <div class="pt-2">
                {% if user.location %}
                  <p class="mt-0 mb-0"><small>From {{ user.location }} <i class="fe fe-map-pin text-muted mr-1"></i></small></p>
                {% endif %}
                {% if user.last_visit %}
                  <p class="mt-0 mb-0"><small>Last activity {{ user.last_visit|timeago }} <i class="fe fe-activity text-muted ml-1"></i></small></p>
                {% endif %}
                {% if user.signup_stamp %}
                  <p class="mt-0 mb-0"><small>Signed up {{ user.signup_stamp|timeago }} <i class="fe fe-target text-muted ml-1"></i></small></p>
                {% endif %}
              </div>

              {% if current_user.id == user.id %}
                <div class="pt-4">
                  <a href="/user/settings" class="btn btn-light btn-block">Edit Profile <i class="fe fe-edit-2"></i></a>
                </div>
              {% endif %}
            </div>

           

            <div class="d-none d-lg-block mt-4">
              <small>
                {% if current_user.is_admin == 1 %}
                  <a class="text-muted mr-3" href="/admin/dashboard/index"><b>Admin Panel</b></a>
                  <br>
                {% else %}
                  {% if pages is not empty %}
                    <a>Links:</a>
                    <br>
                  {% endif %}
                {% endif %}
                
                {% if pages is not empty %}
                  {% for page in pages %}
                    <a href="/page/{{ page.url }}" class="text-muted mr-3">{{ page.title }}</a>
                  {% endfor %}
                {% endif %}

              </small>
            </div>

            {% if settings.banner_left_status == 1 %}
              <div class="mt-4">
                {{ settings.banner_left|raw }}
              </div>
            {% endif %}
            
          </div>
        </div>

        <div class="col-lg-9 order-lg-2">

        	<div class="row col-12 mb-4 pr-0 pl-0 no-gutters justify-content-between">
        		<div class="float-left">
              <a href="/user/{{ user.username }}/topics" class="btn btn-secondary {% if this_page.tab == 'topics' %}active{% endif %}">
                Topics <span class="badge {% if this_page.tab == 'topics' %}badge-dark{% else %}badge-secondary{% endif %}">{{ user.total_topics }}</span>
              </a> 

        			<a href="/user/{{ user.username }}/questions" class="btn btn-secondary ml-2 {% if this_page.tab == 'questions' %}active{% endif %}">
                Questions <span class="badge {% if this_page.tab == 'questions' %}badge-dark{% else %}badge-secondary{% endif %}">{{ user.total_questions }}</span>
              </a> 

              <a href="/user/{{ user.username }}/answers" class="btn btn-secondary ml-2 {% if this_page.tab == 'answers' %}active{% endif %}">
                Answers <span class="badge {% if this_page.tab == 'answers' %}badge-dark{% else %}badge-secondary{% endif %}">{{ user.total_answers }}</span>
              </a>
        		</div>
        		
            {% if this_page.tab == 'questions' or this_page.tab == 'answers' %}
          		<div class="float-right">
  							<div class="dropdown">
  							  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
  							     {{ this_page.order_name }} Sorting <i class="fe fe-chevron-down mr-1"></i>
  							  </button>
  							  <div class="dropdown-menu">
  							    <a href="#" class="dropdown-item {% if this_page.order_name == 'Newest' %}font-weight-bold{% endif %}" onclick="sort_stream_by('{{ this_page.url }}', 'newest');">Newest</a>
  							    <a href="#" class="dropdown-item {% if this_page.order_name == 'Most Voted' %}font-weight-bold{% endif %}" onclick="sort_stream_by('{{ this_page.url }}', 'voted');">Most Voted</a>
  							  </div>
  							</div>
  						</div>
            {% endif %}
        	</div>

          {% if settings.banner_top_status == 1 %}
            <div class="max-width-100 row mt-4 mb-4 pl-3 pr-3">
              {{ settings.banner_top|raw }}
            </div>
          {% endif %}
          
          {% if stream is not empty %}

            {% if this_page.tab == 'topics' %}

              <div class="card topics_list">
                <div class="pt-3">

                  {% for topic in stream %}
                    {% include('Topics/topic.twig') %}
                  {% endfor %}

                </div>
              </div>

            {% endif %}

            {% if this_page.tab == 'questions' %}

              {% for question in stream %}
                {% include('Questions/question.twig') %}
              {% endfor %}

            {% endif %}

            {% if this_page.tab == 'answers' %}

              {% for answer in stream %}
                {% include('Answers/question-answer.twig') %}
              {% endfor %}

            {% endif %}

          {% else %}

            <div class="card pt-4 pr-4">
              {% if this_page.tab == 'topics' %}
                <p>User does not follow any topic yet.</p>
              {% endif %}

              {% if this_page.tab == 'questions' %}
                <p>User does not have any question yet.</p>
              {% endif %}

              {% if this_page.tab == 'answers' %}
                <p>User does not have any answer yet.</p>
              {% endif %}
            </div>

          {% endif %}

          {% include('pagination.twig') %}

          {% if current_user %}
            
            {% include('Questions/close.twig') %}
            {% include('Questions/delete.twig') %}
            {% include('Questions/hide.twig') %}

          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock %}