{#
  Answer template
  Tab Size: 2 
#}
<div class="post card pt-5 pb-0 pl-4 pr-4 mb-6" id="answer_{{answer.id}}"{% if answer.votes < -10 %} style="opacity: 0.6;"{% endif %}>

	<div class="pb-6 border-bottom">
		<h1 class="mb-2"><a href="/question/{{ answer.question.url }}">{{ answer.question.title }}</a></h1>
	  <small>{% autoescape 'html' %}{{ question.description | raw }}{% endautoescape %}</small>

	  <div class="question-images mt-2">
	  	{% for this_image in answer.question.images %}
				<a href="/media/images/questions/{{ this_image.image }}" class="image-link"><img src="/media/images/questions/{{ this_image.image }}" alt="{{ answer.question.title }}" class="img-thumbnail" /></a>
	  	{% endfor %}
	  </div>

	  <div class="mt-4">
    	<small class="text-muted"><a href="/user/{{ answer.question.author.username }}"><span class="avatar avatar-sm" {% if answer.question.author.photo %}style="color: transparent; background-image: url(/media/images/users/{{ answer.question.author.photo }})"{% endif %}>{{ answer.question.author.username|slice(0, 2)|upper }}</span></a> <a href="/user/{{ answer.question.author.username }}">{{ answer.question.author.username|capitalize }}</a> asked on {{ answer.question.added_at|date('d F Y, H:i') }}</small>
    </div>
	</div>

	<div class="media pt-6">

  	<a href="/user/{{ answer.author.username }}" target="_blank"><div class="media-object avatar avatar-md mr-4" {% if answer.author.photo %}style="color: transparent; background-image: url(/media/images/users/{{ answer.author.photo }})"{% endif %}>{{ answer.author.username|slice(0, 2)|upper }}</div></a>
  	
  	<div class="media-body">
  		<div class="media-heading">

				{% if answer.user_id == current_user.id %}
  				<a class="float-right tag tag-own-question">Your Answer <span class="tag-addon tag-azure opacity-6"> </span></a>
				{% endif %}

    		<h5 class="mb-0"><a href="/user/{{ answer.author.username }}" target="_blank">{{ answer.author.username|capitalize }} <span class="text-muted" style="font-size: 85%">{{ answer.author.points }} p.</span></a></h5>
    		<small class="text-muted">Answered <a class="text-muted text-hover-underline" href="/question/{{ answer.question.url }}?answer_id={{ answer.id }}" target="_blank">{{ answer.added_at|timeago }}</a>{% if answer.modified_at > 0%} (Edited {{ answer.modified_at|timeago }}){% endif %}</small>

  		</div>
  		<div class="mt-2 answer_content">
  			{% autoescape 'html' %}{{ answer.answer | raw }}{% endautoescape %}
  		</div>
  	</div>

	</div>

	<div class="card-footer pl-0 pr-0">

		{% if current_user %}

			<!-- Vote Button -->
			<span class="btn-vote d-inline-block">
				<div class="input-group">
			  	<span class="input-group-prepend">
			    	<span class="input-group-text text-primary click-vote {% if answer.is_voted == 1 %}active{% endif %}" onclick="vote_answer({{ answer.id }});"><i class="fe fe-thumbs-up"></i></span>
			  	</span>
			  	<input type="text" class="form-control text-center plaintext votes-number" disabled="" value="{{ answer.votes }} votes">
			  	<span class="input-group-append">
			    	<span class="input-group-text text-primary click-unvote {% if answer.is_voted == -1 %}active{% endif %}" onclick="unvote_answer({{ answer.id }});"><i class="fe fe-thumbs-down"></i></span>
			  	</span>
				</div>
			</span>
			<!-- /Vote Button -->

		{% endif %}

		<a href="/question/{{ answer.question.url }}" class="btn btn-outline-primary btn-sm mr-1">View Question</a>
		<a href="/question/{{ answer.question.url }}?answer_id={{ answer.id }}" class="btn btn-outline-primary btn-sm mr-1 ml-1">View Answer</a>
	
	</div>

</div>